@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

body {
    font-family: Joan, serif;
    font-weight: 400;
    color: #1c3532;
    background-color: #dcdcdc;
}

/* header */

.header {
    width: 100%;
    position: relative;
}

a {
    text-decoration: none;
    color: #1c3532;
    max-width: 50vw;
}

h1 {
    margin: 0.25rem auto;
}

.title {
    border: 2.5px solid #1c3532;  
    border-radius: 5px 5px;
    text-align: center;
    min-height: 3em;
    width: min(500px, 50vw);
    position: relative;
    top: 0.25em;
    margin-top: 1em;
}

h1:hover {
    color: #1c3532;
    font-weight: lighter;
}

/* navigation bar */

.nav-div {
    position: fixed;
    right: 0;
    top: 1em;
    width: 100%;
}

.nav-bar {
    word-spacing: 0.2rem;
}

.nav-ul {
    text-align: right;
    padding: 0;
    margin: 0;
}

.links {
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
    display: inline-block;
    padding-right: 1.5em;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-offset: 0.2em;
}


.links:hover {
    border: 2px solid #1c3532;
    font-size: 110%;
    padding: 0 20px 0 20px;
    text-decoration-line: none;
}

/* cover section */

.cover-section {
    position: relative;
    top: 2em;
    text-align: center;
    margin: 1em 0;
}

.on-toes {
    width: 90%;
    height: 70vh;
    object-fit: cover;
    background-repeat: no-repeat;
    border: 2px solid #1c3532;
    border-radius: 25px 25px;
    margin: 2em auto 0;
}

.cover-section p {
    text-align: center;
    vertical-align: middle;
    font-size: larger;
    font-weight: bold;
    margin: 1em auto;

}

/* footer */

.footer {
    width: 100%;
    height: auto;
    margin: 8em 0 0;
    border: 2px solid #1c3532;
    border-radius: 25px 25px;
    position: relative;
}

#contact {
    margin: auto 1em;
    object-fit: cover;
}

.jump-div {
    height: 2em;
    width: 20em;
}

#jump {
    font-size: medium;
    font-weight: bolder;
    border: 2px solid #1c3532;
    border-radius: 25px 25px;
    position: absolute;
    right: 1em;
    bottom: 4em;
}