@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

body {
    font-family: Joan, serif;
    font-weight: 400;
    color: #2f4553;
    background-color: #dcdcdc;
}

/* header */

.header {
    width: 100%;
    position: relative;
}

a {
    text-decoration: none;
    color: #2f4553;
    max-width: 50vw;
}

h1 {
    margin: 0.25rem auto;
}

.title {
    border: 2.5px solid #656255;    
    border-radius: 5px 5px;
    text-align: center;
    min-height: 3em;
    width: min(500px, 50vw);
    position: relative;
    top: 0.25em;
    margin-top: 1em;
}

h1:hover {
    color: #2f4553;
    font-weight: lighter;
}

/* navigation bar */

.nav-div {
    position: fixed;
    right: 0;
    top: 1em;
    width: 100%;
}

.nav-bar {
    word-spacing: 0.2rem;
}

.nav-ul {
    text-align: right;
    padding: 0;
    margin: 0;
}

.links {
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
    display: inline-block;
    padding-right: 1.5em;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-offset: 0.2em;
}


.links:hover {
    border: 2px solid #656255;
    font-size: 110%;
    padding: 0 20px 0 20px;
    text-decoration-line: none;
}

/* hero image and cover text */

.hero-section {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero {
    width: 52vw;
    height: 90vh;
    object-fit: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.cover-text-section {
    display: block;
    float: right;
    max-width: 40vw;
    position: relative;
    right: 3em;
    top: 5em;
}

.cover-text {
    text-align: center;
    border: 4px dotted rgb(35, 82, 66);
    border-radius: 50%;
    margin-bottom: 5em;
    padding: 2em 4em;
}

.cover-text h2 {
    line-height: 2em;
}

/***************************
****** media queries *******
***************************/

@media screen and (max-width: 1150px) {
    .title {
        top: 2em;
        max-width: 50vw;
    }

    .cover-text {
        font-size: 95%;
    }

    .cover-text-section {
        right: 1.5em;
    }
}

@media screen and (max-width: 910px) {
    .links,
    .cover-text {
        font-size: 75%;
    }

    .cover-text-section {
        top: 2em;
    }

    .cover-text {
        margin-bottom: 3em;
    }
}

@media screen and (max-width: 600px) {
    .title {
        top: 4em;
    }

    .title,
    .links,
    .cover-text {
        font-size: 60%;
    }

    .hero {
        max-height: 50vh;
    }

    .cover-text-section {
        right: 0.25em;
        top: 3em;
    }
    
    .cover-text {
        padding: 1em 2em;
        margin-bottom: 2em;
    }

    .cover-text h2 {
        line-height: 1.2em;
    }
}

@media screen and (max-width: 420px) {
    .cover-text h2 {
        line-height: 1em;
        font-size: 1.25em;
    }
}

/* information section 

#information {
    margin: auto;
    margin-top: 30px;
}

.info {
    width: 19vw;
    height: 340px;
    display: inline-block;
    vertical-align: middle;
    font-size: larger;
    text-align: center;
    border-right: 2px solid #656255;
}

#no-border {
    border-right: none;
}

.info h3 {
    margin: 10px 20px 25px 20px;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 7px;
}

.info p {
    line-height: 30px;
    margin-top: 40px;
}

.join li {
    text-transform: lowercase;
}

.join {
    margin: 9px;
}

/* ancient mystery section 

#mystery {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid #656255;
    border-radius: 25px 25px;
    width: 70vw;
    height: 40vh;
}

#story {
    height: 200px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    border: 2px solid #656255;
    border-radius: 25px 25px;
    overflow-y: scroll;
    overflow: auto;
    margin: 40px auto;
    padding: 10px 30px;
    width: 80%;
}

#booklink {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    font-weight: bold;
}

#booklink:hover {
    border: 2px solid #656255;
    padding: 0 15px;
    text-decoration-line: none;
    font-size: 110%;
}
*/

/* sign up section 

#form {
    width: 40vw;
    height: auto;
    border: 2px solid #656255;
    border-radius: 25px 25px;
    margin:25px auto;
    padding: 10px;
    text-align: center;
}

#form div {
    margin: 10px 0;
    padding: 0;
    word-spacing: 2px;
}

.options {
    margin: 15px auto 0;
}

.smaller {
    font-size: 14px;
}

.bold {
    font-weight: bold;
}

form p {
    font-size: x-small;
    font-weight: bold;
    letter-spacing: 1px;
}

#submit, #reset {
    font-weight: bolder;
    color: #2f4553;
    padding: 5px 15px;
    margin: 5px 15px;
    height: 40px;
    border: 2px solid #656255;
    border-radius: 25px 25px;
}

.buttons:hover {
    font-size: 110%;
}
*/

/* footer 

#footer {
    width: 100%;
    height: 10vh;
    border: 2px solid #656255;
    overflow: hidden;
    display: inline-block;
    position: relative;
    text-align: center;
}

#contact {
    line-height: 8px;
    margin: 15px;
    width: 300px;
    text-align: center;
}

#contact h4 {
    margin-top: 0;
}

#jump {
    position: absolute;
    top: 35px;
    right: 15px;
} */